footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 0%);
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
}


.nav-link {
    color: white;
    font-weight: lighter;

}

.navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.nav-link:hover {
    color: white;
    transform: translateY(10px);
}

.nav-link {
     transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: white;
    transform: translateY(10px);
}

.navbar-brand {
    transition: transform 0.3s ease-in-out;
}

main h1 {
    color: hsl(30, 1%, 38%);
    font-weight: bold;
}


